{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link rel="stylesheet" href="{% static 'all.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;900&family=Raleway:wght@100;300;500;700&display=swap');
    </style>
    <div class="container">

        <div class="header">
            <h1>diabetes</h1>
        </div>

        <div class="products">
            
            <div class="product">
                <div class="image">
                    <img src="{%static 'store/d1.jpg' %}" alt="">
                </div>
                <div class="namePrice">

                    <p>Ensure Diabetes Care Powder<br>vanilla flavour(500gm)</p>
                    <h5 text-align="right">MRP<br> <strike>₹850.40</strike></h5>
                    <h4 text-align="right" style="color: red;"><br><br><br> best price*₹816
                    </h4>
                </div>
                
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    </div>
                <div class="bay">
                    <button> buy now </button>
                </div>
            </div>

            <div class="product">
                <div class="image">
                    <img src="{%static 'store/d2.jpg' %}"alt="">
                </div>
                <div class="namePrice">

                    <p>Janumet 50/500mg<br> Tablet 15'S</p>
                    <h5 text-align="right">MRP<br> <strike>₹345</strike></h5>
                    <h4 text-align="right" style="color: red;"> <br><br><br> best price<br>*₹246
                    </h4>
                </div>
                
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    </div>
                <div class="bay">
                    <button> buy now </button>
                </div>
            </div>


            <div class="product">
                <div class="image">
                    <img src="{%static 'store/d3.jpg' %}"alt="">
                </div>
                <div class="namePrice">

                    <p>Galvus Met 50/500mg<br> Tablet 15'S</p>
                    <h5 text-align="right">MRP<br> <strike>₹328.50</strike></h5>
                    <h4 text-align="right" style="color: red;"> <br><br><br> best price*₹262
                    </h4>
                </div>
                
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    </div>
                <div class="bay">
                    <button> buy now </button>
                </div>
            </div>
            <div class="product">
                <div class="image">
                   <img src="{%static 'store/d4.jpg' %}"alt="" height="200" width="75">
                </div>
                <div class="namePrice">

                    <p><br>Glycomet SR 500mg <br>Tablet 20'S</p>
                    <h5 text-align="right"><br>MRP<br> <strike>₹40.00</strike></h5>
                    <h4 text-align="right" style="color: red;"> <br><br> <br>best price*₹30
                    </h4>
                </div>
                
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    </div>
                <div class="bay">
                    <button> buy now </button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="js/all.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>