{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link rel="stylesheet" href="{% static 'all.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">

        <div class="header">
            <h1>heart</h1>
        </div>

        <div class="products">
            
            <div class="product">
                <div class="image">
                    <img src="{%static 'store/h1.jpg' %}" alt="">
                </div>
                <div class="namePrice">

                    <p>Cidmus 50mg <br>Tablet 14'S</p>
                    
                    <h5 text-align="right">MRP<br> <strike>₹1000.40</strike></h5>
                    <h4 text-align="right" style="color: red;"> <br><br><br> best price<br>*₹850 
                    </h4>
                </div>
                
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    </div>
                <div class="bay">
                    <button> buy now </button>
                </div>
            </div>

            <div class="product">
                <div class="image">
                    <img src="{%static 'store/h2.jpg' %}"alt="">
                </div>
                <div class="namePrice">

                    <p>Dobucin 50mg Injection</p>
                    <h5 text-align="right">MRP<br><strike>₹320.40</strike><br></h5>
                    <h4 text-align="right"style="color: red;"><br><br><br>best price*₹280
                    </h4>
                </div>
                
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    </div>
                <div class="bay">
                    <button> buy now </button>
                </div>
            </div>


            <div class="product">
                <div class="image">
                    <img src="{%static 'store/h3.jpg' %}"alt="">
                </div>
                <div class="namePrice">

                    <p>Cardace Protect 5mg <br>tablets 10's</p>
                    <h5 text-align="right">MRP<br> <strike>₹350</strike></h5>
                    <h4 text-align="right"style="color: red;"> <br><br><br> best price<br>*₹260 
                    </h4>
                </div>
                
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    </div>
                <div class="bay">
                    <button> buy now </button>
                </div>
            </div>
            <div class="product">
                <div class="image">
                   <img src="{%static 'store/h4.jpg' %}"alt="">
                </div>
                <div class="namePrice">

                    <p>Vymada 50mg<br> tablets 10's</p>
                    <h5 text-align="right">MRP<br> <strike>₹1170.30</strike></h5>
                    <h4 text-align="right"style="color: red;"><br><br><br>best price<br>*₹942.50
                    </h4>
                </div>
                
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    </div>
                <div class="bay">
                    <button> buy now </button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="js/all.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>